@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
  font-family: 'Overpass', sans-serif;
  background-color: #000;
}

html,
body,
#drawHere {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#instructions {
  position: fixed;
  left: 50%;
  top: 0;
  height: 3rem;
  transform: translate(-50%, 0%);
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: large;
  text-align: center;
  animation: instructExit 2s cubic-bezier(0.64, 0, 0.78, 0) 3s 1 forwards;
}

@keyframes instructExit {
  from { transform: translate(-50%, 0%); }
  to   { transform: translate(-50%, -100%); }
}

